/* style.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

                /*Global HTML*/


/*Black background on top*/
.intro-section {
    height: 55vh;
    /*these items should go*/
    display: flex;
    align-items: center;
}

body {
    font-family: 'Fira Code', monospace;
    color: white;
    background-color: rgb(3,3,3);
}


                /*Navigation bar*/


a {
    color: black;
    text-decoration: none;
}

/*global nav bar*/
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5B80B;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/*Additional Nav Styling*/
.navbar-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 80%;
    align-items: center;
}

/*Nav Hover*/
a:hover {
    color: white;
}

/*Global Footer*/
.footer {
    background-color: #E5B80B;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
    bottom: 0;
}


/*Skills Section*/

.skills-section {
    padding: 0 50px;
    margin-top: 170px;
    margin-bottom: 0px;
    /*may need to adjust height so about isn't pushed down so much*/
}

.skills-section h2 {
    font-size: 35px;
    padding-top: 150px;
    text-align: center;
}

.skills-section h2::after {
    content: "";
    display: block;
    width: auto;
    height: 4px;
    background-color: #E5B80B;
    margin: 10px auto 0 auto;
}

.skills-section .text {
    margin-bottom: 20px;
    text-align: center;
}

.skills-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section .cells .cell {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 200px;
    padding: 10px 20px;
    /*border: 1.5px solid #e5b80b;*/
    border-radius: 5px;
    margin: 10px;
}

.skills-section .cells .cell img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;

}

.skills-section .cells .cell span {
    font-size: 18px;
}

/*About me*/ 

.testimony-section {
    padding: 0 50px;
    margin-bottom: 40px;
}

.testimony-section h2 {
    font-size: 35px;
    margin-bottom: 60px;
    text-align: center;
    position: relative;
}

.testimony-section h2::after {
    content: "";
    display: block;
    width: auto;
    height: 4px;
    background-color: #E5B80B;
    margin: 10px auto 0 auto;
}

.testimony-section .group {
    display: flex;
    align-items: center;
    gap: 50px;
}

.testimony-section .group .person-details {
    text-align: center;
    flex: 2;
}

.testimony-section .group .text {
    flex: 8;
}

.testimony-section .group .text .about-learn-more {
    background-color: #E5B80B;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 25px;
    display: block;
    margin-top: 40px;
    border-radius: 10px;
}

.testimony-section .group .text .about-learn-more:hover {
    background-color: rgb(3,3,3);
    padding: 8px 20px;
    font-weight: bold;
    color: white;
    border: 1px solid #E5B80B;
    transition-duration: 0.1s;
}

.testimony-section .group .person-details img {
    aspect-ratio: 1/1;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimony-section .group .person-details p {
    font-weight: 600;
}

.testimony-section .group .person-details p:last-child {
    font-weight: normal;
}

                /*Quote Section*/


.quote-section {
    background: url('https://wallpapers.com/images/featured/dark-mountain-gd3o1mx0wxezbewk.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: scroll;
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Arrange children in a column */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text */
    min-height: 100vh; /* Adjust the height as needed */
    padding: 20px; /* Add padding for spacing */
    color: white; /* Ensure the text is readable */
    margin-bottom: 30px;
}

.quote {
    color: #E5B80B;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 65px;
}

.quote-name {
    font-weight: bold;
    text-align: center;
    margin: 50px;
}

                /*Home.html*/

                /*Hero Section*/

@media (max-width: 850px) {
    .hero-section .text .h2 {
        font-size: 35px;
    }
    .testimony-section .group .text .about-learn-more {
        padding: 10px;
        font-weight: 20px;
    }
}

@media (max-width: 740px) {
    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-section .profile-photo {
        width: 300px;
    }

    .testimony-section {
        text-align: center;
    }

    .testimony-section .group {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .skills-section {
        padding: 0 20px;
    }

    .skills-section .cells .cell span {
        font-size: 16px;
    }
    
    /*Testimony Section*/
    .testimony-section {
        text-align: center;
    }

    .testimony-section .group {
        flex-direction: column;
        align-items: center;
    }

    .testimony-section .group .text .about-learn-more {
        margin: 0 auto;
        margin-top: 40px;
    }

    /*Portfolio section*/
    .portfolio-section {
        padding: 0 20px;
    }
    
    .portfolio-section .projects {
        flex-direction: column;
        gap: 20px;
    }

    .portfolio-section .projects .project {
        flex: 1 1 100%;
    }

    .portfolio-section .projects .project-details img {
        max-width: 100%;
    }

    .about-me .about-me-text .about-body {
        padding: 0px;
        margin: 0px;
        text-align: left;
    }

}

/*Hero Section*/

.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    margin: 150px 0;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
}

.hero-section .text .name-header {
    font-size: 120px;
}
.hero-section .text h2 {
    font-size: 65px;
    font-weight: 10;
}

.hero-section .text p {
    margin-top: 20px;
}
.hero-section .profile-photo {
    flex: 2;
    width: 400px;
    border-radius: 50%;
    display: flex;
    /*add aspect ratio here once clipped*/
    justify-content: right;margin-bottom: 50px;
}

/*Header Button Styling*/

.header-learn-more:hover {
    background-color: rgb(3,3,3);
    color: white;
    border: 1px solid #E5B80B;
    cursor: pointer;
}

.header-learn-more:hover a {
    background-color: rgb(3,3,3);
    color: white;
    cursor: pointer;
}

.header-learn-more {
    padding: 15px 30px;
    background-color: #E5B80B;
    font-weight: bold;
    font-size: 25px;
    margin-top: 40px;
    border-radius: 10px;
    transition: 0.1s;
    color: rgb(3,3,3);
}

                /*Portfolio Projects*/


.portfolio-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.portfolio-section h2 {
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 100px;
}

.portfolio-section h2::after {
    content: "";
    display: block;
    width: auto;
    height: 4px;
    background-color: #E5B80B;
    margin: 10px auto 0 auto;
}

.portfolio-section .projects {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.portfolio-section .projects .project {
    flex: 1;
    text-align: left;
}

.portfolio-section .projects .project-details {
    margin-bottom: 10px;
}

.portfolio-section .projects .project-details img {
    width: 100%;
    height: auto;
    max-width: 600px;
}

.portfolio-section .projects .text1, 
.portfolio-section .projects .text2 {
    margin-top: 20px;
}

.portfolio-section .projects .text1 .project-learn-more-1, 
.portfolio-section .projects .text2 .project-learn-more-2 {
    background-color: #E5B80B;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 25px;
    display: block;
    margin-top: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(3,3,3);
    transition: 0.1s;
}

.portfolio-section .projects .text1 .project-learn-more-1:hover, 
.portfolio-section .projects .text2 .project-learn-more-2:hover {
    background-color: rgb(3,3,3);
    padding: 8px 20px;
    font-weight: bold;
    color: white;
    border: 1px solid #E5B80B;
    transition-duration: 0.1s;
}




                /*PAGE:About.html*/

.about-me {
    background: url('https://wallpapers.com/images/featured/dark-mountain-gd3o1mx0wxezbewk.jpg') no-repeat center center fixed;
    min-height: 100vh;
    background-size: cover;
    background-attachment: scroll;
    min-height: 75vh;
}

/*About Me Container*/
.about-me {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    min-height: 100vh;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
}

/*About Me Header*/
.about-me-header {
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 80px;
}

.about-me-header::after {
    content: "";
    display: block;
    width: auto;
    height: 4px;
    background-color: #E5B80B;
    margin: 10px auto 0 auto;
}

.about-me-text {
    padding: 0px 50px 50px 50px;
}

.about-body {
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;
    margin-bottom: 0px;
}

.about-body p {
    margin: 20px 0;
    text-indent: 30px;
    font-size: 18px;
}

.about-me .about-me-text .contact-me-button {
    background-color: #E5B80B;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 25px;
    display: block;
    margin-top: 50px;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(3,3,3);
    transition: 0.1s;
    text-align: center;
    margin: 50px auto;
}

.about-me .about-me-text .contact-me-button:hover {
    background-color: rgb(3,3,3);
    padding: 15px 30px;
    font-weight: bold;
    color: white;
    border: 1px solid #E5B80B;
    transition-duration: 0.1s;
}


                /*projects*/

@media(max-width: 800px) {

    .box3 {
        order: 4;
    }

    .box4 {
        order: 3;
    }

    .box5 {
        order: 5;
    }

    .box6 {
        order: 6;
    }
}

.project-section {
    max-width: 1300px;
    margin: 0 auto;
    min-height: 89vh
}

 

.page-header {
    font-size: 30px;
    color: white;
    margin-top: 100px;
    text-align: center;
    background-color: rgb(3,3,3);
    font-weight: bolder;
 }  

.container {
    display: grid;
    width: auto;
    height: auto;
    background-color: rgb(3,3,3);
    justify-content: center;
    margin: 50px 0px 100px 0px;
    grid-template: 300px 300px 300px/500px 500px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 450px));
}

.box1 {
    background-color:#E5B80B;
    background: linear-gradient(to right, #E5B80B, rgb(3,3,3));
    border-radius: 15px; 
    text-align: center;
    align-content: center;
}

.box2 {
    background-color: rgb(3,3,3);
    text-align: center;
    align-content: center;
}

.box3 {
    background-color: rgb(3,3,3);
    text-align: center;
    align-content: center;
    margin: 100px 0px;
}

.box4 {
    background-color:#E5B80B;
    border-radius: 15px;
    background: linear-gradient(to left, #E5B80B, rgb(3,3,3));
    min-height: 300px;
    text-align: center;
    align-content: center;
}

.box5 {
    background-color:#E5B80B;
    border-radius: 15px;
    background: linear-gradient(to right, #E5B80B, rgb(3,3,3));
    text-align: center;
    align-content: center;
    min-height: 300px;
}

.box6 {
    background-color: rgb(3,3,3);
    text-align: center;
    align-content: center;
    margin: 100px 0px;
}


                /*skills*/





                /*contact*/

.contact-me {
    background: url(./images/mountains\ for\ contact\ me.png) no-repeat center center fixed;
    min-height: 100vh;
    background-size: cover;
    background-attachment: scroll;
}

.contact-me-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 100px;
    min-height: 90vh;
    align-items: center;
    gap: 40px;
}

.contact-me-header {
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    font-size: 80px;
    border-bottom: 5px solid #E5B80B;
    width: 100%;
    padding: 40px;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-form-container label {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 20px;
}

.input-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%; /* Use 100% width */
    max-width: 600px; /* Set a max-width for better alignment */
}

.input-wrapper input,
.input-wrapper textarea {
    flex-grow: 1; /* Allow the input and textarea to grow and take available space */
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    margin-bottom: 10px;
}

.input-wrapper label {
    width: 250px; /* Set a fixed width for the labels */
    line-height: 1;
}

.contact-me-button {
    background-color: #E5B80B;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 25px;
    display: block;
    margin-top: 50px;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(3, 3, 3);
    transition: 0.1s;
    text-align: center;
    margin: 50px auto;
}

.contact-me-button:hover {
    background-color: rgb(3, 3, 3);
    padding: 15px 30px;
    font-weight: bold;
    color: white;
    border: 1px solid #E5B80B;
    transition-duration: 0.1s;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .contact-me-container {
        padding: 0px 20px;
    }

    .input-wrapper {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .input-wrapper input,
    .input-wrapper textarea {
        width: 100%;
    }

    .input-wrapper label {
        width: auto;
    }

    .contact-form-container label {
        font-size: 2rem;
    }

    .contact-me-header {
        font-size: 50px;
        padding: 20px;
    }
}

                /*Footer*/

/*To Do*/

/*Add backend server to handle contact me form*/
/*adjust responsiveness of divs on skills section*/
/*Fix footer issues*/
/*style skills section*/

/*Want to restyle below:
front page appearance and sizing
lower tech stack and animate carousel
Front page spacing needs work
soft transition divs
